html
    head
        title= foundCountry.name
    body
        h1= foundCountry.name
        h3= `Details about ${foundCountry.name}`
        
        p= `Capital City: ${foundCountry.capital}`
        p= `Population: ${foundCountry.population}`
        p= `Land Area: ${foundCountry.area} sq km`
        div Languages
        = `${foundCountry.languages[0].name}`
        p
        div Currencies
        = `${foundCountry.currencies[0].name} / ${foundCountry.currencies[0].symbol}`
        p
        div Flag
        img(src=foundCountry.flag alt=`Flag of ${foundCountry.name}` width='10%' length='10%')
        p
        div Location
        a(href=`http://www.google.com/maps/place/${foundCountry.latlng[0]},${foundCountry.latlng[1]}/@${foundCountry.latlng[0]},${foundCountry.latlng[1]},6z`) Google Map
        p
        div More Information
        a(href=`https://en.wikipedia.org/wiki/${foundCountry.name}`) Content from Wikipedia
