html
    head
        title= title
    body
        h1.bigger= title
        - let subtitle = 'List of Restaurants'
        p= subtitle
            ul
                each restaurant in restaurants
                    li
                        a(href='/restaurant/'+restaurant.id)= restaurant.name
            img(src=image)